* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "PT Sans Narrow", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
		font-weight: bold;
	text-transform: uppercase;
	
	color: #000000;
}

h1 {
	font-size: 30px;
	line-height: 42px;
	
	margin-bottom: 25px;
}

h2 {
	font-size: 24px;
	line-height: 30px;
}

a {
	text-decoration: none;
	
	color: inherit;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;

}

.main-header {
	margin-bottom: 60px;
	
	background-color: #000000;
	color: #ffffff;
}

.main-menu {
	float: left;
	width: 760px;
	min-height: 70px;
}

.main-menu ul,
.paginator ul,
.breadcrumbs ul {
	list-style: none;
}

.main-menu li,
.paginator li,
.breadcrumbs li {
	display: inline-block;
	vertical-align: top;
}

.breadcrumbs li  {
	margin-right: 40px;
}

.main-menu li {
	margin-top: 25px;
	margin-left: 40px;
}

.login-btn {
	margin-top: 14px;
}

.user-block {
	float: right;
	width: 160px;
	min-height: 70px;
}

.breadcrumbs {
	margin-bottom: 60px;
}

.filters {
	float: left;
	width: 220px;
}

.catalog {
	float: right;
	width: 700px;
	margin-bottom: 25px;
	
	font-size: 0;
	
	outline: 1px solid red;
}

.paginator {
	margin-top: 15px;
	
	font-size: 14px;
}

.paginator .btn {
	width: 45px;
}

.product-card {
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	vertical-align: top;
	
	font-size: 14px;
	
	outline: 1px solid red;
}

.product-card:nth-child(3n){
	margin-right: 0;
}

.product-card h2 {
	margin: 0;
	margin-left: 15px;
	
	font-size: 14px;
	line-height: 18px;
}

.product-name {
	text-transform: none;
}

.product-card  .brand-name {
	margin-bottom: 15px;
}

.product-gallery {
	float: left;
	width: 460px;
}

.gallery-content {
	float: left;
	
	outline: 1px solid red;
}

.photo-1  {
	margin-bottom: 20px;
}

.photo-2,
.photo-3 {
	margin-right: 20px;
}

.product-description {
	float: right;
	width: 390px;
	padding-top: 20px;
	
	outline: 1px solid red;
}

.availability {
	float: left;
}

.code-number {
	float: right;
}

.product-description p {
	clear: both;
	margin-top: 45px;
	margin-bottom: 40px;
}

.product-description h2 {
	margin-top: 65px;
	margin-bottom: 40px;
}

.product-description ul {
	margin-top: 40px;
	list-style: none;
}

.product-description li {
	margin-bottom: 5px;
}

.price {
	display: inline-block;
	width: 110px;
	margin-left: 15px;
	margin-right: -4px;
	padding: 10px 0;
	vertical-align: middle;
		
	text-align: center;
	
	background-color: #e5e5e5;
}

.btn-buy {
	width: 80px;
}

.btn {
	display: inline-block;
	vertical-align: middle;
	padding: 10px 0;
	
	text-align: center;
	
	color: #ffffff;
	background-color: #000000;
}

.main-footer {
	clear: both;
	margin-top: 50px;
	padding-top: 60px;
	padding-bottom: 40px;
	
	color: #ffffff;
	background-color: #000000;
}

.footer-contacts {
	float: left;
	width: 390px;
	min-height: 90px;
}

.footer-social {
	float: left;
	width: 340px;
	min-height: 90px;
}

.footer-copyright {
	float: right;
	width: 140px;
	min-height: 90px;
}

.login-form {
	position: absolute;
	
	width: 300px;
	height: 300px;
	padding: 55px 80px;


	
	outline: 1px solid red;
}

.login-form input[type="text"],
.login-form input[type="password"] {
	width: 280px;
	padding: 10px 8px;
	
	border: 1px solid black;
	
}

.login-form input[type="text"] {
	margin-bottom: 8px;
}

.login-form input[type="password"] {
	margin-bottom: 15px;
}

.password-recovery {
	float: right;
	
	text-align: right;
}

.login-form label {
	float: left;
}

.login-form h2 {
	margin-bottom: 20px;
}

.login-form p {
	margin-bottom: 15px;
}

.login-form .btn {
	clear: both;
	width: 300px;
	margin-top: 15px;
}